.sclera{
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: white;
}

.pupil {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: black;
}