    .sclera{
        border-radius: 50%;
        position: absolute;
        width: 150px;
        height: 150px;
        background-color: white;
        
        transform: translate(-50%, -50%);
    }
    
    .inner_sclera {
        position: absolute;
        width: 150px;
        height: 150px;
    }
    
    .pupil {
        border-radius: 50%;
        position: absolute;
        top: 20%;
        width: 90px;
        height: 90px;
        background-color: black;
        /* transform: translateY(-9%); */
    }

    .inner_pupil {
        border-radius: 50%;
        position: absolute;
        width: 90px;
        height: 90px;
        /* background-image: linear-gradient(red, blue); */
    }